[Desktop Entry]
Name=RustWallpaper
NoDisplay=true
MimeType=x-scheme-handler/rustwallpaper;
TryExec=rustwallpaper
Exec=rustwallpaper %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
